name: Build & Test
"on":
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  build:
    name: Build & Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: hashicorp/setup-packer@1aa358be5cf73883762b302a3a03abd66e75b232 # v3.1.0
      - name: Run `packer init`
        run: packer init .
      - name: Run `packer fmt`
        run: packer fmt -check .
      - name: Run `packer validate`
        run: packer validate -syntax-only .
      - name: Install incus
        run: |
          curl https://pkgs.zabbly.com/get/incus-stable | sudo sh -x
      - name: Reset the Incus firewall
        run: sudo nft flush ruleset
      - name: Init incus
        run: sudo incus admin init --auto
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
      - name: Test
        run: sudo bash -xe run.sh
  required-check:
    name: All Tests Passed
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - run: echo "All tests passed!"
